[submodule ".config/vim/pack/plugins/start/pear-tree"]
	path = .config/vim/pack/plugins/start/pear-tree
	url = https://github.com/tmsvg/pear-tree.git
[submodule ".config/vim/pack/plugins/start/vim-easy-align"]
	path = .config/vim/pack/plugins/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule ".config/vim/pack/plugins/start/wiki.vim"]
	path = .config/vim/pack/plugins/start/wiki.vim
	url = https://github.com/lervag/wiki.vim.git
