[Unit]
Description=rank Pacman's latest mirrors

[Timer]
OnCalendar=daily
; AccuracySec=1h
; RandomizedDelaySec=12h
Persistent=true

[Install]
WantedBy=timers.target

# vim: ft=systemd
