[Unit]
Description=rank Pacman's latest mirrors
; Network dependencies, see https://systemd.io/NETWORK_ONLINE/
After=network.target
; Start rate limiting?
StartLimitBurst=3
StartLimitIntervalSec=100

[Service]
; Type=oneshot
ExecStart=/usr/bin/rankmirrors_latest
; Auto restart when it failed?
; Try ExecStartPre=bash while ! ping??
Restart=on-failure
RestartSec=30
; These are stolen from paccache.service.
; Set IO scheduling and nice level, lowering the priority??
Nice=19
CPUSchedulingPolicy=idle
IOSchedulingClass=idle
IOSchedulingPriority=7
OOMScoreAdjust=1000
; Sandboxing and other hardening.
; AssertSecurity=
; CapabilityBoundingSet=
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
PrivateDevices=yes
PrivateIPC=yes
PrivateMounts=yes
PrivateTmp=yes
ProcSubset=pid
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectProc=invisible
ProtectSystem=yes
; RemoveIPC=yes
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
; SystemCallFilter=@system-service @file-system

[Install]
WantedBy=multi-user.target

; vim: ft=systemd

